[Unit]
Description=Install AppImages indicated by user
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/bash -c "test \"[ ! -e /var/lib/appimages/.installed ] || \"$(sha256sum /etc/appimages-install.json | cut -d ' ' -f 1)\" != \"$(cat /var/lib/appimages/.installed 2> /dev/null)\"\""
ExecStartPre=/bin/bash -c "/usr/bin/test -d /var/lib/appimages || mkdir /var/lib/appimages"
ExecStart=/bin/bash -c "/usr/bin/appimage-install /etc/appimages-install.json"
ExecStartPost=/bin/bash -c "sha256sum /etc/appimages-install.json | cut -d ' ' -f 1 > /var/lib/appimages/.installed"

[Install]
WantedBy=multi-user.target
