[Unit]
Description=Install Flatpaks indicated by user
ConditionPathExists=!/var/lib/flatpak/.flatpak-installed
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
ExecStart=/bin/bash -c "FLATPAKS=$(cat /etc/flatpak.install | tr '\n' ' '); /usr/bin/flatpak install --system --noninteractive -y $FLATPAKS"
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.flatpak-installed

[Install]
WantedBy=multi-user.target